<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">
    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">

    <title> {% block title %}Listas Restrictivas{% endblock %}</title>
    </head>
    <body> 
      <div class="d-lg-flex">
        <div class="logo">
          <h4 class="text-light font-weight-bold">Credito Comfandi</h4>
          <nav class="nav">
            {% if current_user.rol_id == 1 %}
            <ul class="list">
              <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                  <i class="icon ion-md-apps mr-2 lead list__img"></i>
                  <a id="home" href="/" class="d-block text-light p-3 nav__link"> Aplicaciones</a>
                  <img src="../static/img/arrow.svg" class="list__arrow">
                </div>
                <ul class="list__show">
                  <li class="list__inside">
                    <a id="listas_restrictivas" href="/listas" class="d-block text-light p-3 nav__link nav__link--inside">Listas Restrictivas</a>
                  </li>
                </ul>
              </li>
              <li class="list__item">
                <div class="list__button">
                  <i class="icon ion-md-people mr-2 lead list__img"></i>
                  <a href="/sign-up" class="d-block text-light p-3 nav__link">Usuarios</a>
                </div>
              </li>
              <li class="list__item">
                <div class="list__button">
                  <i class="icon ion-md-stats mr-2 lead list__img"></i>
                  <a href="#" class="d-block text-light p-3 nav__link">Estadisticas</a>
                </div>
              </li>
              <li class="list__item">
                <div class="list__button">
                  <i class="icon ion-md-person mr-2 lead list__img"></i>
                  <a href="#" class="d-block text-light p-3 nav__link"> Perfil </a>
                </div>
              </li>
              <li class="list__item">
                <div class="list__button">
                  <i class="icon ion-md-power list__img"></i>
                  <a id="logout" href="/logout" class="d-block text-light p-3 nav__link">Salir</a>
                </div>
              </li>
            </ul>
            {% else %}
            <ul class="list">
              <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                  <i class="icon ion-md-apps mr-2 lead list__img"></i>
                  <a id="home" href="/" class="d-block text-light p-3 nav__link"> Aplicaciones</a>
                  <img src="../static/img/arrow.svg" class="list__arrow">
                </div>
                <ul class="list__show">
                  <li class="list__inside">
                    <a id="listas_restrictivas" href="/listas" class="d-block text-light p-3 nav__link nav__link--inside">Listas Restrictivas</a>
                  </li>
                </ul>
              <li class="list__item">
                <div class="list__button">
                  <i class="icon ion-md-power list__img"></i>
                  <a id="logout" href="/logout" class="d-block text-light p-3 nav__link">Salir</a>
                </div>
              </li>
            </ul>
            {% endif %}
          </nav>
        </div>
        <div class="m-0 row justify-content-center">
        {% block content %}
        <div id="logo_search" class="text-center col-md-12 col-md-offset-6">
          <h1>Bienvenidos a Crédito Comfandi</h1>
          En el panel izquierdo encontrarás las Aplicaciones
        </div>
        {% endblock %}
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src= "{{ url_for('static', filename='main.js') }}"></script>
    </body>